<div style="text-align: center">
<h2>Schedule</h2>
<br>
<h4><b>5:30pm </b>Ceremony</h4>
<h4><b>6:00pm </b>Cocktail Hour</h4>
<h4><b>7:00pm </b>Dinner</h4>
<h4><b>8:00pm </b>First Dance</h4>
<h4><b>9:15pm </b>Cake</h4>
<h4><b>9:30pm </b>Bouquet / Garter Toss</h4>
<h4><b>10:15pm </b>Sparkler Send-off</h4>

<h2>Seating Chart</h2>
<br><b>Table 1</b>
<br>Margie Rhoades
<br>Pat Reilly
<br>Kathryn Stalder
<br>Margaret Bartman
<br>Marcy Omaits
<br>Richy Stalder
<br>Tami Stalder
<br>Ryan Stalder
<br>Chad Stalder
<br>

<br><b>Table 2</b>
<br>Kaitlin Justice
<br>Ryan Hoecker
<br>Brittany Carrier
<br>Mike Osbourne
<br>Jennifer Maddox
<br>Cameron Tewkbury
<br>Cassie Rucks
<br>Russell Rucks
<br>

<br><b>Table 3</b>
<br>Jordyn Nealis
<br>Walt Esser
<br>Kathryn Rhoades
<br>Mark Andrews
<br>Sean Rhoades
<br>Karley Andrews
<br>Austin Andrews
<br>Olivia Isaiah
<br>Channing Williams
<br>

<br><b>Table 4</b>
<br>Donald White
<br>Rae-Lynn Sheffield
<br>Evan Bradley
<br>Trey Griffin
<br>Dani Hinson
<br>Kirk Veley
<br>Carson Griffin
<br>Blake Steedly
<br>Erica Steedly
<br><b>Table 5
<br>Pattie Mullins
<br>Gene Daniels
<br>Karrie Durrance
<br>Hunter Daniels
<br>Karen Carrier
<br>Ernie Carrier
<br>Kyle Mullins
<br>Heaven Feltenberger
<br>

<br><b>Table 6</b>
<br>Debi Caldwell
<br>Greg Caldwell
<br>Mason Caldwell
<br>Amy Rivero
<br>Mary Ann Holt
<br>Ricky Holt
<br>Jeffery Holt
<br>Chris Varble
<br>

<br><b>Table 7</b>
<br>Jason Stuart
<br>Kari Stuart
<br>Jake Stuart
<br>Jaedyn Stuart
<br>Charlene Pitman
<br>Vicki Bennet
<br>Josh Bennet
<br>Mike Bennet
<br>Brian Pitman
<br>Amber Pitman
<br>Audra Platt
<br>Wes Platt
<br>

<br><b>Table 8</b>
<br>Geri Stuart
<br>Timothy Nettles
<br>Suzi Ratliff
<br>Zachary Nettles
<br>

<br><b>Table 9</b>
<br>Sam Vandegrift
<br>Craig Vandegrift
<br>Alex Vandegrift
<br>Bubba Mullins
<br>

<br><b>Table 10</b>
<br>Clifford Rhoades
<br>Suzette Rhoades
<br>Christen Johnson
<br>Jason Johnson
<br>Vivian Rhoades
<br>Steve Rhoades
<br>Jim Tavernit
<br>Charlene Tavernit
<br>Stephanie Staten
<br>Rick Staten
<br>Dana Staten
<br>Troy Staten
<br>

<br><b>Table 11</b>
<br>Brent Stuart
<br>Vickie Stuart
<br>Baron Stuart
<br>Bethany Stuart
<br>

<br><b>Table 12</b>
<br>Karen Andrews
<br>Carol Biance
<br>Loumarie Colon
<br>Garrett Andrews
<br>Jason Biance
<br>Josh Miller
<br>Josh Rodriguez
<br>LaCae Rodriguez
<br>Kristin Salinder
<br>

<br><b>Table 13</b>
<br>Ginny Scott
<br>Clint Scott
<br>Aaron Scott
<br>Max Scott
<br>Theresa Magoulioutis
<br>Bill Magoulioutis
<br>Tommy Baker
<br>Harry Stalder
<br>Lisa Stalder
<br>
<br><b>Table 14</b>
<br>Diego Gamez
<br>Vanessa Barragan
<br>Conlin Veley
<br>Jake Dressel
<br>

<br><b>Table 15</b>
<br>Brooke Jahna
<br>Adrian Jahna
<br>Kendall Carson
<br>Ginny Carson
<br>Jason Shierling
<br>Hannah Shierling
<br>Jamie Spears
<br>Dusty Spears
<br>Rowan Taylor
<br>

<br><b>Table 16</b>
<br>Tracy Murray
<br>Dean Murray
<br>Pam Justice
<br>Rick Justice
<br>Pam Williams
<br>David Williams
<br>Tonya Jackson
<br>James Jackson
<br>Chrissy Emmick
<br>Jeff Emmick
<br>Mary Jo Panucci
<br>Ali Johnson
<br>

<br><b>Table 17</b>
<br>Kaila Albiritton
<br>Phillip Albiritto
<br>Krischell Harris
<br>Kenny Weston
<br>Lonnie Pryor
<br>Caitlin Pryor
<br>Brigett Teton
<br>Terry Tueton
<br>Morgan Bradley
<br>Trevor Hinote

</div>
<br />
