<div class="registration-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="log-in panel" style="background: rgba(255, 255, 255, 0.5)">
          <div class="panel-heading">
            <h2>Schedule</h2>
          </div>
          <div>
            <h4><b>5:30pm </b>Ceremony</h4>
            <h4><b>6:00pm </b>Cocktail Hour</h4>
            <h4><b>7:00pm </b>Dinner</h4>
            <h4><b>8:00pm </b>First Dance</h4>
            <h4><b>9:15pm </b>Cake</h4>
            <h4><b>9:30pm </b>Bouquet / Garter Toss</h4>
            <h4><b>10:15pm </b>Sparkler Send-off</h4>
          </div>
          <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
