<h3 class="text-center" style="text-decoration: none"><%= link_to "Upload a New Photo", new_post_path %></h3>
<div id="posts">
  <%= render 'posts' %>
</div>
<div class="text-center" id="paginator">
  <%= link_to_next_page @posts, 'LOAD MORE', remote: true, id: 'load_more' %>
</div>
